<!DOCTYPE html>
<html>
	<head>
		<title>Machines List</title>
		<style>
			.button-container {
				display: flex;
				flex-direction: column; /* Arrange buttons vertically */
			}
			.button-container button {
				margin-bottom: 10px; /* Add some space between buttons */
				cursor: pointer; /* Indicate clickable element */
				font-size: 18px;  /* Increase font size */
				padding: 10px 20px; /* Add padding for better visual appeal */
				border-radius: 5px; /* Add rounded corners */
			}
		</style>
	</head>
	<body>
		<div class="button-container">
			{% for machine in machines %}
				<a href="{{ url_for('process', **machine) }}">
				<button>
					{{machine.name}} {{machine.status}}
					{{machine.owner}} {{machine.ip}}
					{{machine.zone}} {{machine.number}}
				</button>
				<textarea readonly>
				{{machine.ip}}
				</textarea>
				</a>
			{% endfor %}
		</div>
	</body>
</html>
